  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@900&family=Mulish:wght@200&family=Noto+Sans+Lepcha&family=Poppins:ital,wght@0,300;0,400;1,200;1,500&family=Raleway:wght@200&family=Roboto&family=Roboto+Mono:ital,wght@1,600&family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&family=Varela+Round&display=swap');

body{
    background-color: rgb(245, 242, 242);
    overflow: hidden;
    scale: .8;
}

/* signUp */
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top:30px ;
}
.SignUp{
    width: 27vw;
    height: 100vh;
    padding: 10px 20px;
    margin: 0px 5px;
    display: block;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px rgb(201, 197, 197) ;
    
}

 h1 {
  text-align: center;
  font-weight: 600;
  font-family: 'Inter'
}
.user {
   margin: 20px;
}
 label {
    display: block; 
    font-size: 20px;
    font-family: 'Inter';
    padding: 10px 0;
}
 input {
    width: 95%;
    height: 37px;
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 500;
    background-color: transparent;
    border-color:rgb(163, 157, 157) ;
    padding: 0 10px ;

}
input:focus{
    outline: none;
}
input:hover{
    background-color: rgb(232,240,254);
}
 button {
    width: 95%;
    height: 45px;
    background-color:rgb(49, 147, 240);
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 700;
    color: white;
    border-color: transparent;
    padding: 10px 0;
    margin: 25px 0;
}
a {
    font-size: 23px;
    font-family: 'Inter';
    margin: 0 10px;
}
/* ----------------------------------------------------------------- */
/* Login */
.Login{
    width: 27vw;
    height: 70vh;
    padding: 10px 20px;
    margin: 100px ;
    display: block;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px rgb(201, 197, 197)  ;
    
}